@import url("./normalize.css");
@import url("./reset.css");
@import url("./typography.css");
@import url("./style.css");

:root {
  --light-font-color: #FFFFFF;
  --light-bg-color: #FAFBFC;
  --red-font-color: #FF8682;
  --dark-font-color-main: #000000;
  --dark-font-color-secondary: #112211;
  --brand-color-dark-transp: rgba(141, 211, 187, 0.4);
  --brand-color-dark: #8DD3BB;
  --border-color: #1C1B1F;
  --border-color-light: #D7E2EE;
  --main-font-semibold: Montserrat600;
  --main-font-medium: Montserrat500;
  --main-font-regular: Montserrat400;
  --main-font-bold: Montserrat700;
  --brand-font-bold: Quicksand700;
  --mint-color-border: 1px solid #8DD3BB;
  --box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
  --size-32rem: 32rem;
  --size-64rem: 64rem;
  --size-8rem: 8rem;
  --size-24rem: 24rem;
  --size-16rem: 16rem;

}

@font-face {
  font-family: Montserrat700;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat600;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat500;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat400;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Quicksand700;
  src: url("../fonts/Quicksand/Quicksand-Bold.ttf");
}

.main {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.planeInfo__galleryCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.planeInfo__galleryCardsImgContainer {
  width: 100px;
  height: 100px;
  /* background-image: url("../img/flight-details/plane-info/1.jpg"); */
  background-position: cover;
  background-repeat: no-repeat;
}

.path {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8rem;
  color: var(--dark-font-color-secondary);
}

.path__countryName,
.path__cityName {
  font-family: var(--main-font-medium);
  font-size: 14rem;
  color: var(--red-font-color);
}


.path__iconWrapper {
  display: flex;
  justify-content: center;
}

.path__icon {
  height: 16rem;
  width: auto;
}

.path__airportName {
  color: var(--dark-font-color-secondary);
  font-family: var(--main-font-medium);
  font-size: 14rem;
}

.planeInfo {
  color: var(--dark-font-color-secondary);

}

.planeInfo__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 32rem 0;
}

.planeInfo__title {
  font-family: var(--brand-font-bold);
  font-size: 24rem;
  margin-bottom: 16rem;
}

.planeInfo__titleDetails {
  font-family: var(--main-font-medium);
  font-size: 14rem;
  opacity: 0.75;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 7rem;
  margin-bottom: 8rem;
}

.planeInfo__geolocatonIcon {
  height: 16rem;
}

.planeInfo__reviewWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8rem;
  font-family: var(--main-font-medium);
}

.planeInfo__reviewMark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 32rem;
  border: var(--mint-color-border);
  border-radius: 4px;
}

.planeInfo__review {
  font-family: var(--main-font-bold)
}


.planeInfo__price {
  font-family: var(--main-font-bold);
  font-size: 32rem;
  text-align: right;
  color: var(--red-font-color);
  margin-bottom: 16rem;
}

.planeInfo__btnContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15rem;
}

.planeInfo__iconBtn {
  width: 48rem;
  height: 48rem;
  border: var(--mint-color-border);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.planeInfo__iconBtn:hover {
  background-color: var(--brand-color-dark);
}

.planeInfo__btnIcon {
  width: 20rem;
  height: auto;
}

.planeInfo__bookBtn {
  padding: 15rem 38rem;
  height: 48rem;
  border: var(--mint-color-border);
  background-color: var(--brand-color-dark);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.planeInfo__bookBtn:hover {
  color: var(--dark-font-color-secondary);
  background-color: var(--light-bg-color);
}

.planeInfo__imgContainer {
  height: 45vh;
  width: 100%;
  background-image: url("../img/flight-details/plane-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  margin-bottom: 40rem;
}

.planeInfo__galleryHeaderWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.planeInfo__galleryHeader {
  width: 333px;
  font-family: var(--brand-font-bold);
  font-size: 24rem;
}

.planeInfo__checkboxesWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24rem;
}

.planeInfo__checkboxContainer {
  display: flex;
  font-size: 14rem;
  justify-content: flex-end;
  align-items: center;
  gap: 8rem;
  font-family: var(--main-font-medium);
}

.planeInfo__galleryCardsImgContainer {
  border-radius: 12px;
}

.flightInfo__header {
  width: 100%;
  background-color: var(--brand-color-dark);
  padding: 16rem;
  margin: 40rem 0;
  border-radius: 8px;
}

.flightInfo__headerTitle {
  font-family: var(--brand-font-bold);
  font-size: 24rem;
  text-align: left;
  margin-bottom: 16rem;
}

.flightInfo__headerContentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16rem;
}

.flightInfo__headerContent {
  display: flex;
  justify-content: flex-start;
  gap: 16rem;
}

.flightInfo__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40rem;
}

.flightInfo__card {
  width: 100%;
  padding: 32rem 24rem;
  box-shadow: var(--box-shadow);
}

.flightInfo__cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24rem;
}

.flightInfo__cardDateContainer {
  font-family: var(--brand-font-bold);
  font-size: 20rem;
}

.flightInfo__cardFlightDurationContainer {
  font-family: var(--main-font-medium);
  font-size: 20rem;
  opacity: 0.75;
}

.flightInfo__cardPlaneInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16rem 32rem;
  margin-bottom: 40rem;
}

.flightInfo__cardAirlinesLogoWrapper {
  width: 64rem;
  height: 64rem;
  background-image: url("../img/airlines-logo/emirates.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.flightInfo__cardInfoIconsWrapper {
  display: flex;
  justify-content: flex-end;
}

.flightInfo__cardPlaneId {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24rem;
}

.flightInfo__cardAirlinesName {
  font-family: var(--main-font-semibold);
  font-size: 24rem;
  margin-bottom: 8rem;
}

.flightInfo__cardAirplaneModel {
  font-family: var(--main-font-medium);
  font-size: 14rem;
}

.flightInfo__iconContainer {
  height: 75rem;
  width: 75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flightInfo__icon {
  width: 22rem;
  height: auto;
}

.flightInfo__iconContainer:not(:last-of-type) {
  border-right: 1px solid #D7E2EE;
}

.flightInfo__cardFlightInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80rem;
}

.flightInfo__cardFlightDurationIcon {
  height: 48rem;
  width: auto;
}

.flightInfo__cardFlightDurationText {
  font-family: var(--main-font-semibold);
  font-size: 24rem;
  margin: 10rem 0;
}

.flightInfo__cardDepartureTimeDetails,
.flightInfo__cardArrivalTimeDetails {
  margin-right: 8rem;
}

.flightInfo__cardAirportName--lightFont {
  opacity: 0.6;
  font-family: var(--main-font-medium);
  font-size: 16rem;
}