@import url("./normalize.css");
@import url("./reset.css");
@import url("./typography.css");
@import url("./style.css");

@font-face {
  font-family: Montserrat600;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat500;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat400;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Quicksand700;
  src: url("../fonts/Quicksand/Quicksand-Bold.ttf");
}

:root {
  --light-font-color: #FFFFFF;
  --light-bg-color: #FAFBFC;
  --dark-font-color-main: #000000;
  --dark-font-color-secondary: #112211;
  --brand-color-dark-transp: rgba(141, 211, 187, 0.4);
  --brand-color-dark: #8DD3BB;
  --border-color: #1C1B1F;
  --border-color-light: #D7E2EE;
  --main-font-semibold: Montserrat600;
  --main-font-medium: Montserrat500;
  --main-font-regular: Montserrat400;
  --brand-font-bold: Quicksand700;
  color: var(--dark-font-color-secondary);
  background-color: var(--light-bg-color);
}

.header {
  background-color: var(--light-bg-color);
  color: var(--dark-font-color-secondary);
}

.header__loginBtn--styled {
  background-color: var(--dark-font-color-secondary);
  color: var(--light-bg-color);
}

.hero {
  background-image: url("../img/flight-search/main/hero/hero-bg.jpg");
  border-radius: 0;
  position: relative;
  display: block;
}

.hero__content {
  display: block;
  background: none;
  width: 45%;
  height: auto;
  text-align: left;
  left: 10%;
  position: absolute;
  top: 20%;
}

.hero__title {
  font-size: 45rem;
}

.hero__text {
  text-align: left;
  font-family: var(--main-font-medium);
}

.search__formTitle {
  font-size: 20px;
  font-family: var(----main-font-semibold);
}