@import url("./normalize.css");
@import url("./reset.css");
@import url("./typography.css");
@import url("./style.css");

:root {
  --light-font-color: #FFFFFF;
  --light-bg-color: #FAFBFC;
  --dark-font-color-main: #000000;
  --dark-font-color-secondary: #112211;
  --brand-color-dark-transp: rgba(141, 211, 187, 0.4);
  --brand-color-dark: #8DD3BB;
  --border-color: #1C1B1F;
  --border-color-light: #D7E2EE;
  --main-font-semibold: Montserrat600;
  --main-font-medium: Montserrat500;
  --main-font-regular: Montserrat400;
  --brand-font-bold: Quicksand700;
  color: var(--dark-font-color-secondary);
  background-color: var(--light-bg-color);
}

.search__formWrapper {
  width: 90%;
  box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
}

.search__form {
  width: 100%;

}

.search__fieldset {
  width: 100%;
}

.search {
  transform: none;
  width: 100%;

}

.search__inpWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: var(--size-24rem) 0;
  gap: 16rem;
}

.search__footerBtn {
  height: 44px;
  width: 44px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--brand-color-dark);
  transition: all 0.2s;
}

.search__footerBtn:hover {
  background-color: var(--light-bg-color);
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 24rem;
  margin-top: 24rem;
}

.filter {
  border-right: 0.5px solid #11221180;
  padding-right: 24rem;
}

.filter__title {
  font-family: var(--main-font-semibold);
  font-size: 20rem;
}

.filter__subtitle {
  font-family: var(--main-font-semibold);
  font-size: 16rem;
  margin-bottom: 16rem;
}

.filter__item {
  padding: 32rem 0;
}

.filter__item:not(:last-of-type) {
  border-bottom: 0.5px solid #11221180;
}

.results__header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
  border-radius: 12px;
  padding: 18rem;
  margin-bottom: 24rem;
}

.results__headerCard {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.results__filterDetails {
  display: flex;
  justify-content: space-between;
}

.filter__ratingBtnsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.filter__ratingBtn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 4px;
  width: 40px;
  height: 32px;
  border: 1px solid #8DD3BB;
  border-radius: 4px;
}

.filter__ratingBtn:hover,
.filter__ratingBtn--selected {
  background-color: var(--brand-color-dark);
}

.filter__ratingBtn--selected {
  border: 0.5px solid var(--dark-font-color-secondary);
}

.filter__checkboxList {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 8rem;
}

.filter__checkboxContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8rem;
}

/*  */



.results__headerCard:not(:last-of-type) {
  border-right: 1px solid #D7E2EE;
}

.results__title {
  font-family: var(--main-font-semibold);
  font-size: 16rem;
  margin-bottom: 8rem;
}

.results__subtitleDescription {
  font-family: var(--main-font-regular);
  font-size: 14rem;
  opacity: 0.4;
}