@import url("./normalize.css");
@import url("./reset.css");
@import url("./typography.css");

:root {
  --light-font-color: #FFFFFF;
  --light-bg-color: #FAFBFC;
  --dark-font-color-main: #000000;
  --dark-font-color-secondary: #112211;
  --brand-color-dark-transp: rgba(141, 211, 187, 0.4);
  --brand-color-dark: #8DD3BB;
  --border-color: #1C1B1F;
  --border-color-light: #D7E2EE;
  --main-font-semibold: Montserrat600;
  --main-font-medium: Montserrat500;
  --main-font-regular: Montserrat400;
  --main-font-bold: Montserrat700;
  --brand-font-bold: Quicksand700;
  --size-32rem: 32rem;
  --size-64rem: 64rem;
  --size-8rem: 8rem;
  --size-24rem: 24rem;
  --size-16rem: 16rem;
}

@font-face {
  font-family: Montserrat700;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat600;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat500;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat400;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Quicksand700;
  src: url("../fonts/Quicksand/Quicksand-Bold.ttf");
}

body {
  background-color: var(--light-bg-color);
}

.width-90 {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--size-32rem);
}

.section__title {
  font-family: var(--main-font-semibold);
  font-size: 32rem;
  margin-bottom: var(--size-16rem);
}

.section__subtitle {
  font-family: var(--main-font-regular);
  font-size: 16rem;
}

.section__titleBtn {

  border: 1px solid var(--brand-color-dark);
  padding: 12rem 16rem;
  border-radius: 4px;
  font-family: var(--main-font-medium);
  transition: all 0.2s;
  white-space: nowrap;
}

.section__titleBtn:hover {
  background-color: var(--brand-color-dark);
  color: white;
}

.header {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 20rem;
  z-index: 10;
  color: var(--light-font-color);
  font-family: var(--main-font-semibold);
  font-size: 14rem;
}

.header__links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-32rem);
}

.header__link {
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
}

.header__link:hover {
  text-decoration: underline;
}

.header__loginBtns {
  display: flex;
  justify-content: flex-end;
}

.header__loginBtn {
  padding: 10px 24px;
  border-radius: 8px;
}

.header__loginBtn--styled {
  color: var(--dark-font-color-main);
  background-color: var(--light-font-color);
}

.header__loginBtn:hover {
  text-decoration: underline;
}

.main {
  position: relative;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: url("../img/main/hero/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25rem;
  font-family: var(--brand-font-bold);
  color: var(--light-font-color);
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}

.hero__subTitle {
  font-size: 45rem;
}

.hero__title {
  font-size: 80rem;
  text-transform: uppercase;
}

.hero__text {
  font-family: var(--main-font-semibold);
  font-size: 20rem;
}

.search {
  font-family: var(--main-font-regular);
  transform: translateY(-50%);
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 14rem;
}

.search__formWrapper {
  width: 90%;
  background-color: var(--light-font-color);
  border-radius: 25px;
  padding: var(--size-24rem);
}

.search__form {
  width: 100%;
}

.search__togleBtns {
  display: flex;
  justify-content: flex-start;
  gap: var(--size-32rem);
}

.search__toggleBtn {
  display: flex;
  justify-content: flex-start;
  gap: var(--size-8rem);
  padding: 12px 0;
}

.search__toggleBtn--borderRight {
  padding-right: var(--size-32rem);
  border-right: 1px solid var(--border-color-light);
}

.search__fieldset {
  border: 1px solid var(--border-color);
  padding: var(--size-8rem);
  border-radius: 8px;
  width: 24%;
}

.search__fieldsetContent {
  display: flex;
  justify-content: space-between;
}

.search__inpWrapper {
  display: flex;
  justify-content: space-between;
  padding: var(--size-24rem) 0;
}

.search__inp {
  border: none;
  background-color: transparent;
}

.search__inp::placeholder {
  color: var(--dark-font-color-main);
}

.search__footerBtns {
  font-family: var(--main-font-medium);
  display: flex;
  justify-content: flex-end;
  font-size: 14rem;
}

.search__footerBtn {
  padding: var(--size-16rem) var(--size-8rem);
  border: none;
}

.search__telegaIcon {
  width: 16rem;
  height: auto;
}

.search__footerBtn--green {
  background-color: var(--brand-color-dark);
  border-radius: 4px;
  padding: var(--size-16rem);
  display: flex;
  gap: 4px;
}

/* .destinations__header {}

.destination__title {}

.destination__subtitle {}

.destination__titleBtn {

}

.destination__titleBtn:hover {

} */

.destination__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--size-32rem);
}

.destination__card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--size-16rem);
  padding: var(--size-16rem);
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
  border-radius: 16px;
  border: 1px solid transparent;
  transition: all 0.2s;
  box-sizing: border-box;
}

.destination__card:hover {
  border: 1px solid var(--brand-color-dark);
  cursor: pointer;
}

.destination__cardImg {
  width: 100%;
  height: auto;
}

.destination__cardTitle {
  font-family: var(--main-font-semibold);
  color: var(--dark-font-color-secondary);
  opacity: 0.7;
  font-size: 16rem;
  margin-bottom: 8rem;
}

.destination__cardSubtitle {
  font-family: var(--main-font-medium);
  font-size: 14rem;
}

.destination__cardLink {
  transition: all 0.2s;
}

.destination__cardLink:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--brand-color-dark);
}

.pagesLinks {

  display: flex;
  justify-content: center;
  gap: var(--size-24rem);
}

.pagesLinks__card {
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 70rem;
  margin-bottom: 70rem;
  color: var(--light-font-color);
  gap: var(--size-8rem);
  text-align: center;
  border-radius: 25px;
  padding: 0 5%;
  transition: all 0.2s;
}

.pagesLinks__card:hover {
  transform: scale(1.02);
}

.pagesLinks__flights {
  background-image: url("../img/main/pagesLinks/flights-bg.jpg");
}

.pagesLinks__hotels {
  background-image: url("../img/main/pagesLinks/hotels-bg.jpg");
}

.pagesLinks__title {
  font-family: var(--brand-font-bold);
  font-size: 40rem;
}

.pagesLinks__subtitle {
  font-family: var(--main-font-regular);
  font-size: 16rem;
}

.pagesLinks__btn {
  background-color: var(--brand-color-dark);
  border-radius: 4px;
  padding: var(--size-16rem);
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: var(--dark-font-color-main);
  margin-bottom: var(--size-24rem);
  margin-top: var(--size-16rem);
  transition: all 0.2s;
}

.pagesLinks__btn:hover {
  background-color: var(--light-font-color);
  color: var(--dark-font-color-secondary);
}

.rewiews__header {
  margin-bottom: 40rem;
}

.rewiews__cards {
  display: flex;
  justify-content: space-between;
  gap: var(--size-24rem);
}

.rewiews__card {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--size-16rem);
  box-shadow: 24rem 24rem rgba(141, 211, 187, 0.4), 2px 2px 8px var(--brand-color-dark);
  border-radius: 20px;
  padding: var(--size-24rem);
  background-color: var(--light-font-color);
  transition: all 0.5s;
  color: var(--dark-font-color-secondary);
  font-family: var(--main-font-medium);
}

.rewiews__card:hover {
  box-shadow: 16rem 16rem rgba(141, 211, 186, 0.8), -1px -1px 4px rgb(141, 211, 186);
  ;
  /* transform: scale(1.02); */
}

.rewiews__cardTitle {
  font-family: var(--brand-font-bold);
  font-size: 24rem;
}

.rewiews__cardSubtitleText {
  font-size: 14rem;
  opacity: 0.5;
  overflow: hidden;
}

.rewiews__cardSubtitleText--short {
  height: 38rem;
}

.rewiews__cardTitle::first-letter,
.rewiews__cardSubtitleText::first-letter {
  text-transform: uppercase;
}

.rewiews__cardSubtitleBtn {
  margin-top: 8rem;
  display: flex;
  justify-content: flex-end;
  font-family: var(--brand-font-bold);
  transition: all 0.2s;
}

.rewiews__cardSubtitleBtn:hover {
  color: var(--brand-color-dark)
}

.rewiews__cardClientName {
  font-family: var(--brand-font-bold);
  font-size: 14rem;
  margin-bottom: 4rem;
}

.rewiews__cardDestination {
  opacity: 0.5;
  font-size: 14rem;
}

.rewiews__cardReviewSource {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.rewiews__cardReviewSourceName {
  opacity: 0.5;
}

.rewiews__cardImgContainer {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  overflow: hidden;
  background-image: url("../img/destination-img/AF/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.reviews__img {
  width: 100%;
  height: auto;
}

.rewiews__cardRate {
  display: flex;
  justify-content: flex-start;
  gap: 12rem;
}

.reviews__star {
  background-image: url("../img/main/reviews/star.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24rem;
  height: 24rem;
}

.reviews__starDark {
  filter: grayscale();
}

.footer {
  background-color: var(--brand-color-dark);
  width: 100%;
  position: relative;
  padding: 230px 5% 64px;
  margin-top: 300rem;
}

.footer_subscribe {
  position: absolute;
  top: -140px;
  left: 5%;
  right: 5%;
  width: 90%;
  /* height: 300px; */
  z-index: 5;
  background-color: var(--border-color-light);
  color: var(--dark-font-color-secondary);
  display: flex;
  justify-content: space-between;
  border-radius: 20px;

}

.footer_subscribeImgContainer {
  height: 320px;
  width: 45%;
  background-image: url("../img/footer/mailbox.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.footer_subscribeContent {
  padding: 24rem;
  color: var(--dark-font-color-secondary);
}

.footer_subscribeTitle {
  font-family: var(--brand-font-bold);
  font-size: 44rem;
  margin-bottom: 24rem;
}

.footer_subscribeSubtitle {
  font-family: var(--brand-font-bold);

  font-size: 20px;
}

.footer_subscribeText {
  font-family: var(--main-font-medium);
  font-size: 16rem;
  opacity: 0.5;
}

.footer__subscribeForm {
  display: flex;
  justify-content: stretch;
  gap: 16rem;
  margin-top: 16rem;
}

.footer_subscribeInpContainer {
  width: 70%;
}

.footer_subscribeInp {
  width: 100%;
  padding: 7px;
  height: 100%;
  border: none;
  border-radius: 8px;
}

.footer_subscribeBtn {
  border: 1px solid var(--brand-color-dark);
  padding: 12rem 16rem;
  border-radius: 4px;
  font-family: var(--main-font-medium);
  transition: all 0.2s;
  background-color: var(--dark-font-color-main);
  color: var(--light-font-color);
}

.footer_subscribeBtn:hover {
  color: var(--dark-font-color-main);
  background-color: var(--brand-color-dark);
}

.footer_logoWrapper {
  width: 120px;
  height: auto;
}

.footer_iconsWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 13px;
  align-items: center;
  margin-top: 24px;
}

.footer_listsContainer {
  display: flex;
  justify-content: space-between;

}


.footer__title {
  font-family: var(--brand-font-bold);
  font-size: 16rem;
  margin-bottom: 16rem;
}

.footer__list {
  font-family: var(--main-font-medium);
  font-size: 14rem;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 12px;
}